
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://theivymarketgrill.com/wp-content/uploads/sites/2/2016/04/The-Ivy-Collection-English-Spritz.jpg');">
  <div class="banner-content">
    <h1>the magnolia</h1>
    <p>welcome to your experience</p>
  </div>
</div>

<div class="container">
<%= render "new" %>
<h2>creamy or crisp?</h2>
<%= render "cards" %>
</div>


