.container {
  background-color: #18493C;
  min-height: 80vh;
}

body {
  background-color: $green;
  color: $light-gray;
  height: 100%;
}

h1, h2, h3, h4 {
  color: $yellow;
}

a {
  color: $light-gray;
}
