<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag "logo.jpg", alt: "Lemon logo"%>
  </a>
  <h2><i>the magnolia</i></h2>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "check out all the cocktails", cocktails_path %>
  </div>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "add to your palate", new_cocktail_path %>
  </div>
</div>

